footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          h3 Alumnos
          p
            | Barrueta Diego
            br
            | Callao Marcelo
            br
            | Da Silva Facundo
        .footer-col.col-md-4
          h3 Profesor
          p
            | Ronconi Francisco
        .footer-col.col-md-4
          h3 Universidad
          p
            | Universidad Provincial Ezeiza
            br
            | UPE
  .footer-below
    .container
      .row
        .col-lg-12
          p Copyright
          