div.container
  div.container
    div.row.clearfix
      div.col-md-12.column
        #top.header
          img.img-thumbnail(src='/images/computadora-1920x1280.jpg')
          div(style='position: absolute; left: 40%; top: 45%; z-index: 3;')
            .text-vertical-center.text-info.center-block
              h1 Búsqueda Laboral
              h3 Inicie sesión y comience
              br
            .center-block
              a.btn.btn-warning(href='/auth/google') Iniciar Sesión
        
        
  
  